- name: Harden sysctl
  ansible.posix.sysctl:
    name: net.ipv4.ip_forward
    value: 0
    state: present
    reload: yes

- name: Disable root SSH
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^PermitRootLogin'
    line: 'PermitRootLogin no'

- name: Disable password SSH
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^PasswordAuthentication'
    line: 'PasswordAuthentication no'

- name: Install UFW
  apt:
    name: ufw
    state: present

- name: Install fail2ban
  apt:
    name: fail2ban
    state: present
    update_cache: yes

- name: Allow ports
  community.general.ufw:
    rule: allow
    port: "{{ item }}"
  loop: [22, 80, 443]

- name: Enable UFW
  community.general.ufw:
    state: enabled

- name: Start fail2ban
  service:
    name: fail2ban
    state: started
    enabled: yes
